In [1]:
import numpy as np
import pandas as pd

In [3]:
df2=pd.read_csv("C:\\Users\\jinsm\\Desktop\\파이썬프로젝트\\데이터_방문객관련\\20231120085219_영덕군_방문자 거주지 분포.csv",encoding='cp949')

In [4]:
df2

      광역지자체명   기초지자체명  기초지자체별 거주 방문자 수
0       경상북도   포항시 북구         910945.0
1       경상북도      울진군         470134.0
2       경상북도      안동시         447364.0
3       경상북도   포항시 남구         404787.0
4       경상북도      구미시         257830.0
..       ...      ...              ...
244    광주광역시       남구           7273.0
245    광주광역시       동구           4595.0
246  세종특별자치시  세종특별자치시          51185.0
247  제주특별자치도      제주시          16519.0
248  제주특별자치도     서귀포시           7658.0

[249 rows x 3 columns]

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   광역지자체명           249 non-null    object
 1   기초지자체명           249 non-null    object
 2   기초지자체별 거주 방문자 수  249 non-null    float64
dtypes: float64(1), object(2)
memory usage: 6.0+ KB

In [6]:
#컬럼 이름 간소화
df2.columns=["광역시명","지자체명","지역별방문자수"]
df2

        광역시명     지자체명   지역별방문자수
0       경상북도   포항시 북구  910945.0
1       경상북도      울진군  470134.0
2       경상북도      안동시  447364.0
3       경상북도   포항시 남구  404787.0
4       경상북도      구미시  257830.0
..       ...      ...       ...
244    광주광역시       남구    7273.0
245    광주광역시       동구    4595.0
246  세종특별자치시  세종특별자치시   51185.0
247  제주특별자치도      제주시   16519.0
248  제주특별자치도     서귀포시    7658.0

[249 rows x 3 columns]

In [7]:
#방문자수 소수에서 정수로 변환
df2.지역별방문자수=df2.지역별방문자수.astype('int')

In [8]:
df2

        광역시명     지자체명  지역별방문자수
0       경상북도   포항시 북구   910945
1       경상북도      울진군   470134
2       경상북도      안동시   447364
3       경상북도   포항시 남구   404787
4       경상북도      구미시   257830
..       ...      ...      ...
244    광주광역시       남구     7273
245    광주광역시       동구     4595
246  세종특별자치시  세종특별자치시    51185
247  제주특별자치도      제주시    16519
248  제주특별자치도     서귀포시     7658

[249 rows x 3 columns]

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   광역시명     249 non-null    object
 1   지자체명     249 non-null    object
 2   지역별방문자수  249 non-null    int32
dtypes: int32(1), object(2)
memory usage: 5.0+ KB

In [10]:
df1.to_csv('20231120085219_영덕군_방문자 거주지 분포.csv')